<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">プロフィール編集</h2>
          <%= form_with model: @end_user, url: public_end_user_path(@end_user), method: :patch, html: { class: "form" } do |f| %>
            <div class="mb-3">
              <%= f.label :name, "Name", class: "form-label" %>
              <%= f.text_field :name, autofocus: true, id: "inputName", class: "form-control", placeholder: "名前" %>
            </div>
            <div class="mb-3">
              <%= f.label :profile_image, "Profile Image", class: "form-label" %>
              <%= f.file_field :profile_image, class: "form-control", accept: "image/*", placeholder: "プロフィール画像" %>
            </div>
            <%= f.submit "変更を保存", class: "btn btn-primary btn-block mb-2" %>
            <a href="<%= public_end_user_path %>" class="btn btn-secondary btn-block">戻る</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
