<h1>イラスト一覧</h1>

<% @posts.each do |post| %>
  <div>
    <%= link_to public_post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>イラスト名：<%= post.name %></p>
    <p>説明：<%= post.caption %></p>
    <p>ユーザーネーム：<%= post.end_user.name %></p>
  </div>
<% end %>