<div class="cover-index">
  <div class="container">
    <h1 class="font-weight-normal mt-3 text-center test font-dot">ボツ絵墓場</h1>
    <div class="row justify-content-center">
      <% if @posts.empty? %>
        <div class="col-md-12 text-center" style="margin-top: 20px; padding: 20px;">
          <div class="alert alert-warning">何も埋葬されていません</div>
        </div>
      <% else %>
        <% @posts.order(created_at: :desc).each do |post| %>
          <% if post.end_user %>
            <div class="col-md-4">
              <div class="one-post">
                <%= link_to public_post_path(post.id) do %>
                  <%= image_tag post.get_image, class: "post-index-img" %>
                <% end %>
                <p>イラスト名：<%= post.name %></p>
                <p>説明：<%= post.caption %></p>

                <!-- RIPボタン -->
                <div id="likes_buttons_<%= post.id %>">
                  <%= render partial: "public/whies/why", locals: { post: post } %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= paginate @posts %>
