<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% if @posts.sort_by(&:created_at).reverse.take(3).empty? %>
            <div class="swiper-slide">
              <div class="alert alert-warning">何も埋葬されていません</div>
            </div>
          <% else %>
            <% @posts.sort_by(&:created_at).reverse.take(3).each do |post| %>
              <div class="swiper-slide">
                <%= link_to public_post_path(post), class: 'post-link' do %>
                  <%= image_tag post.get_image, class: 'img-fluid', size: '400x400' %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</div>

<% liked_posts = @posts.select { |post| post.whies.count > 0 } %>
<div class="most-liked-posts text-center">
  <h2 class="head">Top R.I.P</h2>
  <div class="row">
    <% if liked_posts.empty? %>
      <div class="col-12">
        <div class="alert alert-warning">何も埋葬されていません</div>
      </div>
    <% else %>
      <% liked_posts.sort_by { |post| -post.whies.count }.take(20).each do |post| %>
        <div class="col-2">
          <div class="card mb-3">
            <%= link_to public_post_path(post), class: 'post-link' do %>
              <%= image_tag post.get_image, class: 'card-img-top', alt: 'Post Image' %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><i class="fa fa-cross like-btn"></i> x <%= post.whies.count %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
